# coding style and static checks

name: coding-style

on: [push, pull_request]

jobs:
  coding_style:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: install requirements
        run: |
          sudo apt update
          sudo apt install -y cppcheck clang-format-12
          sudo pip3 install cmakelang

      - name: Coding style check
        run: ./tools/ci_format_check src tests examples

      - name: Static analysis check
        run: cppcheck --force --error-exitcode=1 -q src tests examples
